<div class="player">
    <h1>{{this.name}}</h1>
    <div>
        <span>{{this.age}} years old - <span>{{this.rebounds}} rebounds</span></span>
    </div>
    <img src="http://i2.cdn.turner.com/nba/nba/dam/assets/130828123801-michael-jordan-iso-1998-all-star-game.video-player.jpg" alt=""/>
</div>